apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana
          image: grafana/grafana:10.2.3
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          env:
            - name: GF_SECURITY_ADMIN_USER
              value: admin
            - name: GF_SECURITY_ADMIN_PASSWORD
              value: admin
          volumeMounts:
            - name: dashboards
              mountPath: /var/lib/grafana/dashboards
            - name: dashboards-provisioning
              mountPath: /etc/grafana/provisioning/dashboards
            - name: datasources-provisioning
              mountPath: /etc/grafana/provisioning/datasources

      volumes:
        - name: dashboards
          configMap:
            name: grafana-dashboards
        - name: dashboards-provisioning
          configMap:
            name: grafana-dashboards-provisioning
        - name: datasources-provisioning
          configMap:
            name: grafana-datasources-provisioning